<button data-action="open_phone" class="btn btn-invisible" aria-label="{{str "Call"}}" role="link" type="button">
<i class="fa fa-phone icon-phone"></i>
<span class="action-label">
    {{str "Call"}}
    </span>
</button>
